
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    transition: all ease 0.3;
}
.container {
    display: flex;
    height: 100%;
    align-items: center;
    overflow: hidden;
    padding: 60px;
    overflow: hidden;
    
}
    .container .card:nth-child(1),
    .container .card:nth-child(2) {
    margin-left: 0;
}

.card {
    flex-shrink: 0;
    width: 300px;
    height: 430px;
    border-radius: 10px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 10px;
    margin-left: -150px;
    transition: 0.4s;
    z-index: 1;
    overflow: hidden;
    
}

.card:hover {
    transform: translateY(-10px);
    margin-right: 150px;
    background-color: #FF5332;
}
.MovieT{
    display: flex;
    flex-direction: column;
}

.containerTitle{
    margin-left: 60px;
    background: rgba(0, 0, 10, 0);
}
.containerTitle h2{
    font-size: 70px;
    width: auto;

}

.moviRow--rigth,
.moviRow--left{
    position: absolute;
    width: 40px;
    height: 225px;
    display: flex;
    
    margin: 150px 00px 60px 0px;
    padding-top: 90px;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition: all ease 0.5s;
}

.moviRow--left{
    left: 0;
    z-index: 99;
}

.moviRow--rigth{
    right: 0;
    z-index: 99;
}

.MovieT:hover .moviRow--left,
.MovieT:hover .moviRow--rigth{
    opacity: 1;
    transform: 1;
}

.destaque{
    transition: all ease 0.4s;
}